<% content_for :nav do -%>
<div>
<% if @buildings.present? %>
<ul class="nav nav-tabs nav-stacked">
    <li><%= link_to "临沂大学全貌", maps_url %></li>
    <% @buildings.each do |building| %>
       <li><%= link_to building.name, maps_url(building) %></li>
    <% end %>
</ul>
<% end %>
</div>
<% end -%>
<% if @building.present? %>
<h1 id=""><%= @building.name %></h1>
<%= gmaps({
          "map_options" => {"libraries" => ["places"], "center_longitude" => @building.longitude, "center_latitude" => @building.latitude, "zoom" => 20, "auto_adjust" => true, "type" => "SATELLITE"}
          }) 
%>
<% else %>
<h1 id="">临沂大学</h1>
<%= gmaps({
          "map_options" => {"libraries" => ["places"], "center_longitude" => 118.283985, "center_latitude" => 35.118456, "zoom" => 16, "auto_adjust" => true, "type" => "SATELLITE"}
          }) 
%>
<% end %>