<div class="btn-group btn-group-vertical" style="width:100%">
	<button type="button" class="btn btn-large"><%= link_to "公告管理", bulletins_path %></button>
	<button type="button" class="btn btn-large"><%= link_to "建筑物管理", admin_buildings_path %></button>
	<button type="button" class="btn btn-large"><%= link_to "用户管理", admin_users_path %></button>
	<button type="button" class="btn btn-large"><%= link_to "新闻管理", articles_path %></button>
	</div>
	<br />
	<br />
	<div class="btn-group btn-group-vertical" style="width:100%">
		<button type="button" class="btn btn-large btn-success"><%= link_to "用户批量导入", import_admin_users_path %></button>
		<button type="button" class="btn btn-large btn-success"><%= link_to "建筑物信息批量导入", import_admin_buildings_path %></button>
		<button type="button" class="btn btn-large btn-success"><%= link_to "用户批量管理", admin_users_path %></button>
	</div>
	
	