<div class="modal hide" id="browser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">您的浏览器版本太低了</h3>
  </div>
  <div class="modal-body">
    <p>您的浏览器版本太低了</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	<a href="https://www.google.com/intl/zh-CN/chrome/browser/" class="btn btn-primary">更换最快最强的浏览器</a>
  </div>
</div>
