<% Bulletin.all(:limit=>5, :order => 'created_at DESC').each do |bulletin| %>
<li><i class="icon-bullhorn"></i>
	<%= link_to(bulletin.title, bulletin_path(bulletin), html_options = {:class => "", :rel => "popover", :title => "#{bulletin.title}", :"data-content" => "#{bulletin.content}",:"data-placement"=>"right", :"data-trigger"=>"hover"}) %>
</li><br />
<% end %>