<div class="container footer">
	<ul class="span12">
		<%= render :partial => "shared/footer_list" %>
		<li><%= link_to "", "" %><span class="copyright">© 2012 SmartLYU</span></li>
	</ul>
</div>
<ul class="span2 offset5">
	<%= render :partial => "shared/locale" %>
</ul>

