<li><%= link_to "临沂大学", "http://www.lyu.edu.cn" %><span class="dot divider"> ·</span></li>
<li><%= link_to "关于", "" %><span class="dot divider"> ·</span></li>
<li><%= link_to "帮助", "" %><span class="dot divider"> ·</span></li>
<li><%= link_to "开发者", "" %><span class="dot divider"> ·</span></li>
<li><%= link_to "移动设备", "" %><span class="dot divider"> ·</span></li>
<li><%= link_to "服务器状态", "http://graphite.chunlea.org/" %><span class="dot divider"> ·</span></li>
<li><%= link_to "条款", "" %><span class="dot divider"> ·</span></li>
<li><%= link_to "隐私", "" %><span class="dot divider"> ·</span></li>
<li><%= link_to "资源", "" %><span class="dot divider"> ·</span></li>
