<div class="calendar">
	<div class="pull-left"><i class="icon-calendar"></i></div>
	<div class="date">
		<div id="name">
			&nbsp;<%= l Time.now, :format => :long %>
		</div>
		<div class="nongli">
			Welcome to Linyi University
		</div>
	</div>
</div>
<div class="barbox clearfix">
	<i class="icon-bullhorn"></i>
	<% if Bulletin.last.blank? %>
	<span class="badge badge-important"><%= Bulletin.all.size %></span>
	<% else %>
	  <%= link_to(bulletins_path, html_options = {:class => "", :rel => "popover", :title => "#{Bulletin.last.title}", :"data-content" => "#{Bulletin.last.content}",:"data-placement"=>"bottom", :"data-trigger"=>"hover"}) do%>
	<span class="badge badge-important"><%= Bulletin.all.size %></span>
	<% end %><% end %>
	&nbsp;
	
	<i class="icon-bullhorn"></i>
	<% if Article.last.blank? %>
	<span class="badge badge-important"><%= Article.all.size %></span>
	<% else %>
	  <%= link_to(bulletins_path, html_options = {:class => "", :rel => "popover", :title => "临大新闻：#{Article.last.title}", :"data-content" => "#{Article.last.content}",:"data-placement"=>"bottom", :"data-trigger"=>"hover"}) do%>
	<span class="badge badge-important"><%= Article.all.size %></span>
	<% end %><% end %>
	&nbsp;
	
	<i class="icon-home"></i>
	<% if Classroom.last.blank? %>
	<span class="badge badge-important"><%= Classroom.all.size %></span>
	<% else %>
	  <%= link_to(bulletins_path, html_options = {:class => "", :rel => "popover", :title => "共有教室#{Classroom.all.size}间", :"data-placement"=>"bottom", :"data-trigger"=>"hover"}) do%>
	<span class="badge badge-important"><%= Classroom.all.size %></span>
	<% end %><% end %>
	&nbsp;
	
	<i class="icon-user"></i>
	<% if User.last.blank? %>
	<span class="badge badge-important"><%= User.all.size %></span>
	<% else %>
	  <%= link_to(bulletins_path, html_options = {:class => "", :rel => "popover", :title => "共有教职工学生#{User.all.size}人", :"data-content" => "",:"data-placement"=>"bottom", :"data-trigger"=>"hover"}) do%>
	<span class="badge badge-important"><%= User.all.size %></span>
	<% end %><% end %>
	&nbsp;
		
	
</div>