<div class="btn-group dropup">
  <button class="btn primary">
	  <i class="icon-globe"></i>
	  Languages | 语言
  </button>
  <button class="btn primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu pull-right">
    <li><%= link_to "简体中文", :controller => controller.controller_name, 
   	         :action => controller.action_name, :locale => "zh-CN" %>
	</li>
    <li><%= link_to "繁体中文", :controller => controller.controller_name, 
   	         :action => controller.action_name, :locale => "zh-TW" %>
	</li>
    <li><%= link_to "English", :controller => controller.controller_name, 
   	         :action => controller.action_name, :locale => "en" %>
	</li>
  </ul>
</div>