<%= simple_form_for("user", :url => user_session_path, :class=>"form-horizontal") do |f| %>
<div class="pull-left">
	<div class="control-group">
		<div class="input-prepend">
			<span class="add-on"><i class="icon-user"></i></span>
			<%= f.text_field :userid, :class=>"span2", :id=>"prependedInput", :size=>"16", :placeholder=>"请输入工号或学号"%>
		</div>
	</div>
	<div class="control-group">  
		<div class="input-prepend">
			<span class="add-on"><i class="icon-key"></i></span>
			<%= f.password_field :password, :class=>"span2", :id=>"prependedInput", :size=>"16", :placeholder=>"请输入密码" %>
		</div>
	</div>
</div>
<div class="pull-right">
	<div class="control-group">
		<%= f.submit t("devise.sessions.login", :default => "Login"), :class=>"btn btn-primary"%>
		<%= link_to t("devise.sessions.findpass", :default => "Forget?"), new_password_path('user'), :class=>"btn btn-warning"%>
	</div>
	<div class="control-group form-inline">      
		<%= f.check_box :remember_me %>
		<%= f.label :remember, t("devise.sessions.remember") %>
	</label>
</div>
<% end %>
