<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">智慧临大</a>
			<div class="container nav-collapse">
				<%= render_list :class => "nav" do |li|
							li << link_to("首页", root_path)
							li << link_to("临大动向", articles_path )
							li << link_to("物联教室", rooms_index_path)
							li << link_to("自习室查询", findroom_index_path )
							li << link_to("临大地图", maps_url)
							li << link_to("管理面板", admin_index_path )
						end %>
				<span class="navbar divider-vertical pull-right"></span>
				<form class="navbar-search pull-right">
					<input type="text" class="search-query" placeholder="临大综合搜索" x-webkit-speech  lang="zh-CN" >
				</form>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
