<div class="usercard">
	<div class="userinfo pull-left">
		<div class="username">
			欢迎你，<span class="name"><%= current_user.name %></span>
		</div>
		<div class="userinfobox">
			&nbsp;
			<i class="icon-envelope"></i>
			<span class="badge badge-success">10</span>
			&nbsp;
			<i class="icon-tasks"></i>
			<span class="badge badge-important">10</span>	
			&nbsp;
		</div>
		<div class="usertools">
			&nbsp;
			<%= link_to(edit_admin_user_path(current_user)) do %> 
			<span class="label label-info">设置</span>
			<% end %>
			&nbsp;
			<%= link_to(destroy_user_session_path, :method => :delete) do %>        
			<span class="label label-important">退出</span>
			<% end %>
			&nbsp;
		</div>
	</div>
	<div class="avatar pull-right">
		<%= image_tag "avatar.gif", :title => "avatar", :class => "img-circle" %>
	</div>
</div>
