<%= simple_form_for @sensor, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :mac %>
  <%= f.input :ip %>
  <%= f.input :online %>
  <%= f.input :classroom_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sensors_path, :class => 'btn' %>
  </div>
<% end %>
