<%- model_class = Sensor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:mac) %>:</strong></dt>
  <dd><%= @sensor.mac %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ip) %>:</strong></dt>
  <dd><%= @sensor.ip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:online) %>:</strong></dt>
  <dd><%= @sensor.online %></dd>
  <dt><strong><%= model_class.human_attribute_name(:classroom_id) %>:</strong></dt>
  <dd><%= @sensor.classroom_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              sensors_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sensor_path(@sensor), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sensor_path(@sensor),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
