<%= simple_form_for [:admin, @building, @classroom], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :floor%>
  <%= f.input :num %>
  <%= f.input :seats %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_building_classrooms_path, :class => 'btn' %>
  </div>
<% end %>
