<div class="wellblock">
	<h1>编辑 <b><%= @building.name%></b> 的教室</h1>
</div>
<div class="wellblock">
<%= render 'form' %>
</div>

<%= link_to 'Show', @building_classroom %> |
<%= link_to 'Back', admin_building_classrooms_path %>
