<%- model_class = Classroom -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:roomno) %>:</strong></dt>
  <dd><%= @classroom.roomno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:seats) %>:</strong></dt>
  <dd><%= @classroom.seats %></dd>
  <dt><strong><%= model_class.human_attribute_name(:building_id) %>:</strong></dt>
  <dd><%= @classroom.building_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_building_classrooms_path(@building, @classroom), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_building_classroom_path(@building, @classroom), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_building_classroom_path(@building, @classroom),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>

