
<ul id="BuildingTab" class="nav nav-tabs nav-stacked pull-left">
	<li class="active"><a href="#home" data-toggle="tab">教室总况</a></li>
    <% @buildings.each do |building| %>
	<li><%= link_to building.name, "#building_#{building.id}", "data-toggle"=>"tab" %></li>
    <% end %>
	<!-- <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li class=""><a href="#dropdown1" data-toggle="tab">@fat</a></li>
	<li class=""><a href="#dropdown2" data-toggle="tab">@mdo</a></li>
	</ul>
	</li> -->
</ul>
<div id="BuildingTabContent" class="tab-content span7">
    <div class="tab-pane fade active in well well-small" id="home">
      <p>目前的耗电总况</p>
			
      <p>临沂大学共有教学建筑物<%= Building.all.size %>栋，</p>
      <p>共有教室<%= Classroom.all.size %>间，</p>
      <p>其中<%= Classroom.find_all_by_light(true).size %>间教室电源开启</p>
			
    </div>
	<% @buildings.each do |b| %>
    <div class="tab-pane fade" id="building_<%= b.id %>">
      <p>
	  
  	<div id="roomlist"class="well well-small">
  			<h3><%= b.name %></h3>
  			<% @classrooms_floor=b.classrooms.group_by{|s| s.floor} %>
  			<% @classrooms_floor.each do |floor,rooms| %>
  			<h4><%= floor %>楼</h4>
  			<div id="name" class="clearfix">
  			<ul>
  			    <% rooms.each do |room| %>
						<% if room.light==true %>
  				<li style="background:red">
						<% else %>
	  				<li style="background:blue">					
						<% end %>
						<%= link_to(room_light_path(room.id), :class => "roompopover", :rel => "popover", :title => "#{room.seats}", :"data-content" => "<b>hello popover world  #{room.freeseats}</b>",:"data-placement"=>"top", :"data-trigger"=>"hover") do %>
							<b><%= room.roomno%></b>
  					</a>
  				</li>
					<% end %>
  			    <% end %>
  			</ul>
  			</div>
  			<% end %>		
  		</div>
	  
	  
	  </p>
    </div>
	<% end %>
</div>