<script>
/* Code based on Google Map APIv3 Tutorials */


var gmapdata;
var gmapmarker;
var infoWindow;

var def_zoomval = 16;
<% if @building.latitude.nil? or @building.longitude.nil? %>
var def_longval = 118.283952;
var def_latval = 35.118366;
<% else %>
var def_longval = <%= @building.longitude %>;
var def_latval = <%= @building.latitude %>;
<% end %>

function if_gmap_init()
{
	var curpoint = new google.maps.LatLng(def_latval,def_longval);

	gmapdata = new google.maps.Map(document.getElementById("mapitems"), {
		center: curpoint,
		zoom: def_zoomval,
		mapTypeId: 'satellite'
		});

	gmapmarker = new google.maps.Marker({
					map: gmapdata,
					position: curpoint
				});

	infoWindow = new google.maps.InfoWindow;
	google.maps.event.addListener(gmapdata, 'click', function(event) {
		document.getElementById("building_longitude").value = event.latLng.lng().toFixed(6);
		document.getElementById("building_latitude").value = event.latLng.lat().toFixed(6);
		gmapmarker.setPosition(event.latLng);
		if_gmap_updateInfoWindow();
	});

	google.maps.event.addListener(gmapmarker, 'click', function() {
		if_gmap_updateInfoWindow();
		infoWindow.open(gmapdata, gmapmarker);
	});

	document.getElementById("building_longitude").value = def_longval;
	document.getElementById("building_latitude").value = def_latval;

	return false;
} // end of if_gmap_init


function if_gmap_loadpicker()
{
	var longval = document.getElementById("building_longitude").value;
	var latval = document.getElementById("building_latitude").value;

	if (longval.length > 0) {
		if (isNaN(parseFloat(longval)) == true) {
			longval = def_longval;
		} // end of if
	} else {
		longval = def_longval;
	} // end of if
	
	if (latval.length > 0) {
	if (isNaN(parseFloat(latval)) == true) {
	latval = def_latval;
	} // end of if
	} else {
	latval = def_latval;
	} // end of if
	
	var curpoint = new google.maps.LatLng(latval,longval);
	
	gmapmarker.setPosition(curpoint);
	gmapdata.setCenter(curpoint);
	//gmapdata.setZoom(zoomval);
	
	if_gmap_updateInfoWindow();
	return false;
} // end of if_gmap_loadpicker

function if_gmap_updateInfoWindow()
{
  infoWindow.setContent("Longitude: " + gmapmarker.getPosition().lng().toFixed(6)+"<br>"+"Latitude: "+ gmapmarker.getPosition().lat().toFixed(6));
} // end of if_gmap_bindInfoWindow
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<body bgcolor="#FFFFEF" onload="if_gmap_init();">

<%= simple_form_for [:admin, @building], :html => { :class => 'form-horizontal' } do |f| %>
<div class="pull-right">
    <div id="maparea" style="background-color: #E0E0E0;">
    	<center>- click on the map below to change marker position</center>
    	<center>- click on the marker to view longitude/latitude information</center>
    	<div id="mapitems" style="height: 540px"></div>
    </div>
</div>
<div class="pull-left">
    <%= f.input :name %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
  <div class="form-actions clearfix">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_buildings_path, :class => 'btn' %>
  </div>
</div>
<% end %>
