<h1> Choose Upload file</h1>
<h2>Uploads, saves, parses, process the file then deletes it</h2>
<%=form_tag('/admin/buildings/save_import', :multipart => true, :remote => true) %>
<p>
<%= file_field_tag 'excel_file' %>
</p>
<p>
<%= submit_tag "Process this file" %>
</p>
</form>
