<% content_for :nav do -%>
<div><%= render :partial => "shared/admin_bar" %></div>
<% end -%>

<%- model_class = Building -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<% if @buildings.present? %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:classroomsnum) %></th>
      <th><%= model_class.human_attribute_name(:seats) %></th>
      <th><%= model_class.human_attribute_name(:freeseats) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= link_to building.name, admin_building_path(building) %></td>
        <td><%= building.classrooms.size %></td>
        <td><%= building.seats %></td>
        <td><%= building.freeseats %></td>
        <td>
			<div class="modal hide" id="delet">
				<div class="alert alert-block alert-error fade in clearfix">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="alert-heading">您真的要删除此条信息吗?</h4>
					<p>您确认删除名为<%= building.name %>的建筑物信息吗？这将连同此建筑物中<%= building.classrooms.size %>间教室的资料一同清除。</p>
					<p class="pull-right">
						<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			                      admin_building_path(building),
			                      :method => :delete,
			                      :class => 'btn btn-danger' %>
						<%= link_to_function "不删除", "$('#delet').modal('hide')",:class => 'btn' %>
					</p>
				</div>
			</div>	
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_building_path(building), :class => 'btn btn-mini' %>
		  <%= link_to_function t('.destroy', :default => t("helpers.links.destroy")), "$('#delet').modal()",:class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_building_path,
            :class => 'btn btn-primary' %>
