<%- model_class = Building -%>
<div class="page-header">
  <div class="pull-left">
		<h1><%=t '.title', :default => @building.name %></h1>
	</div>
	<div class="pull-right">
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
	              edit_admin_building_path(@building), :class => 'btn' %>
	  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	              admin_building_path(@building),
	              :method => 'delete',
	              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	              :class => 'btn btn-danger' %>
	</div>
</div>
<% if @building.classrooms.present? %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= Classroom.human_attribute_name(:roomno) %></th>
      <th><%= Classroom.human_attribute_name(:seats) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @building.classrooms.each do |classroom| %>
      <tr>
          <td><%= classroom.roomno %></td>
        <td><%= classroom.seats %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_building_classroom_path(@building, classroom), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_building_classroom_path(@building, classroom),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<div class="form-actions">
	<%= link_to t('.new', :default => t("helpers.links.newclassroom")),
	            new_admin_building_classroom_path(@building),
	            :class => 'btn btn-primary' %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_buildings_path, :class => 'btn'  %>
</div>
