<%= search_form_for @q, :url=>"index", :html => { :class => 'form-search' } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name_cont, :class => "input-medium search-query" %>
  <%= f.submit "Search", :class => "btn"%>
<% end %>
<% @building.each do |b| %>
<div id="roomlist"class="well well-small">
	<h3><%= b.name %></h3>
	<% @classrooms_floor=b.classrooms.group_by{|s| s.floor} %>
	<% @classrooms_floor.each do |floor,rooms| %>
	<h4><%= floor %>楼</h4>
	<div id="name" class="clearfix">
	<ul>
	    <% rooms.each do |room| %>
		<li>
			<a href="#" rel="popover" class="roompopover" data-content="<%= room.freeseats %>" data-original-title="<%= room.seats %>" data-placement="top" data-trigger="hover">
			<b><%= room.roomno%></b>
			</a>
		</li>
	    <% end %>
	</ul>
	</div>
	<% end %>		
</div>
<% end %>