// Place all the styles related to the findroom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.room-box {
	background:green;
	width:80px;
	height:80px;
	float:left;
}