<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
</div>
<%= simple_form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-inputs">
    <%= f.input :userid, :required => true, :autofocus => true %>
    <%= f.input :name, :required => true, :autofocus => true %>
    <%= f.input :email, :required => true, :autofocus => true %>
	<% if params[:gened_pass].blank? %>
	<div class="control-group password required">
		<label class="password required control-label" for="user_password">
			<abbr title="required">*</abbr> 用户密码</label>
		<div class="controls">
		<%= link_to t('重新为此用户生成新的密码'),
	                generated_password_admin_user_path(@user), :class => 'btn btn-danger' %>
		</div>
	</div>
	<% else %>
	<div class="control-group password required">
		<label class="password required control-label" for="user_password">
			<abbr title="required">*</abbr> 用户密码</label>
		<div class="controls">
			<input autofocus="autofocus" class="password required" id="user_password" name="user[password]" size="50" type="text" value="<%= params[:gened_pass] %>">
			<%= link_to t('重新生成'),
		                generated_password_admin_user_path(@user), :class => 'btn btn-danger' %>
		</div>
	</div>
	<% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_users_path, :class => 'btn' %>
  </div>
<% end %>
