<% content_for :nav do -%>
<div><%= render :partial => "shared/admin_bar" %></div>
<% end -%>
<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:userid) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
	  <% @users.each do |user| %>
      <tr id="#user_<%= user.id %>">
        <td><%= link_to user.userid, edit_admin_user_path(user) %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger'
					  %>
        </td>
      </tr>
    <% end %>
	</tbody>
</table>
<div class="apple_pagination">
	<div clas="page_info">
	      <%= page_entries_info @posts %>
	    </div>
  <%= will_paginate @users %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            user_registration_path,
			:method => :post,
            :class => 'btn btn-primary' %>
