<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render_page_title %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
	<style type="text/css" media="all">
	#application{background-image: url(<%= asset_path 'Background.jpg' %>);}
	</style>
  </head>
  <body>
	<%= render :partial => "shared/navbar" %>
	<header id="application">
	<div class="container">
		<div class="row">
			<div class="span3 logo">
				<%= image_tag "LYU.png", :title => "临沂大学", :class => "" %>
			</div>
			<% if user_signed_in? %>
				<div class="span6">&nbsp;
					<%= notice_message %>				
				</div>
				<div class="span3 logo">
					<%= render :partial => "shared/usercard" %>
				</div>
			<% else %>
				<div class="span4">&nbsp;
					<%= notice_message %>
				</div>
				<div class="span4 logo login-form-bar">
					<%= render :partial => "shared/login" %>
				</div>
			<% end %>
			
		</div>
	</div>
  </header>

    <div class="content">
      <div class="container">
        <div class="row">
			<div class="span3">
				<div class="layout-sider-bulletin">
					<%= render :partial => "shared/bulletins" %>
				</div>
				<div>
					<%= yield :tools %>
					<%= yield :nav %>
					<%= yield :other %>					
				</div>
				<div class="layout-foot-link">
			    	<ul class="footer">
			      	  <%= render :partial => "shared/footer_list" %>
			    	</ul>
				</div>
				<div class="">
			      	<%= render :partial => "shared/locale" %>
				</div>

			</div>
          <div class="span9">
             <%= yield %>
          </div><!--/span-->
        </div><!--/row-->
      </div><!--/content-->


    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<%= yield :scripts %>

  </body>
</html>
