<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render_page_title %>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
	<style type="text/css" media="all">
	#homepage-body{background-image: url(<%= asset_path 'Background.jpg' %>);}
	</style>
  </head>
  <body id="homepage-body">
	<%= render :partial => "shared/navbar" %>
	<%= render :partial => "shared/browser" %>
	<header id="homepage">
		<div class="container">
		  <div class="row">
		    <div class="span3 offset1">
		      <%= image_tag "LYU.png", :title => "Linyi University", :class => "homepage-logo" %>
		    </div>
		  </div>
		  <div class="row">
		    <div class="span5 offset2 topnewstitle">
					<% if Article.last.blank? %>
		      	<h1 id="title">欢迎光临临沂大学</h1>
		      	<h3 id="这是首页新闻宣传地带">临沂大学坐落于沂蒙老区，是一所红色大学</h3>
		      	<h4 id="">请访问<a href="http://www.lyu.edu.cn">http://www.lyu.edu.cn</a></h4>
					<% else %>
	      		<h1 id="title"><%= Article.last.title %></h1>
	      		<h4 id=""><%= link_to "阅读更多...", article_path(Article.last) %></h4>
					<% end %>
		    </div>
		  </div>
		  <div class="row">
		    <div class="span4 offset6">
		      <%= notice_message %>
		    </div>
		  </div>
			<div class="row">
				<div class="span8 offset2 login-form">
					<div class="row">
						<div class="span4 homebox">
							<%= render :partial => "shared/homebox" %>
						</div>
						<div class="span4 login">
							<% if user_signed_in? %>
							<%= render :partial => "shared/usercardbar" %>
							<% else %>
								<%= render :partial => "shared/login" %>
							<% end %>
						</div>
					</div>
				</div> 
      </div>
		</div>
	</header>
    <footer>
      <%= render :partial => "shared/footer" %>
    </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
